cloud_id                 = "123"
folder_id                = "123"
service_account_key_file = "~/yc-keys/key.json"
subnet_id                = "123"
public_key_path          = "~/.ssh/appuser.pub"
connection_key_file      = "~/.ssh/appuser"
app_disk_image           = "123"
db_disk_image            = "123"
